DATABASE_URL="postgresql://postgres:aYE6LnUoANbRTsao@db.fvowgndhmgzighoekhei.supabase.co:5432/postgres"
JWT_SECRET="1c3e0f40-fd0e-4923-8681-d74de7dc8e3a"
GEMINI_API_KEY="AIzaSyA6eyuwvEr4xJMO0rTt3yIr6NGxqeNzKoE"
PORT=5000
